## dependencies
node_modules

## api keys
database-mysql/dataGeneration/watson_api_key.js

## passwords
credentials.js


## bundles
react-client/dist/bundle.js

## sightWords
database-mysql/data/kindergarten_words_audio
# database-mysql/data/kindergartenWords.js
# database-mysql/data/kindergartenCourse.js